[Unit]
Description=Lumina Kubernetes build worker
Documentation=https://docs.k3s.io
Wants=network-online.target wg-quick@wg-lumina.service
After=network-online.target wg-quick@wg-lumina.service

[Service]
Type=notify
EnvironmentFile=-/etc/default/k3s-agent
KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/k3s agent --config /etc/rancher/k3s/config.yaml

[Install]
WantedBy=multi-user.target
